################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FabricProvisioning/config/applicationhost.config
/.vs/FabricProvisioning/DesignTimeBuild/.dtbcache.v2
/.vs/FabricProvisioning/FileContentIndex/0ce51f3a-7668-40ec-b390-becf734d1f4a.vsidx
*.vsidx
/.vs/FabricProvisioning/v17/.suo
*.wsuo
/FabricAutomation/bin/Debug/net7.0/appsettings.json
/FabricAutomation/bin/Debug/net7.0/FabricAutomation.dll
/FabricAutomation/bin/Debug/net7.0/FabricAutomation.exe
/FabricAutomation/bin/Debug/net7.0/FabricAutomation.pdb
/FabricAutomation/bin/Debug/net7.0/Microsoft.Fabric.Provisioning.Library.dll
/FabricAutomation/bin/Debug/net7.0/Microsoft.Fabric.Provisioning.Library.pdb
/FabricAutomation/obj/Debug/net7.0/ref/FabricAutomation.dll
/FabricAutomation/obj/Debug/net7.0/refint/FabricAutomation.dll
/FabricAutomation/obj/Debug/net7.0/apphost.exe
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.AssemblyInfo.cs
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.AssemblyInfoInputs.cache
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.assets.cache
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.csproj.AssemblyReference.cache
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.csproj.CoreCompileInputs.cache
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.csproj.FileListAbsolute.txt
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.dll
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.GeneratedMSBuildEditorConfig.editorconfig
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.genruntimeconfig.cache
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.pdb
/FabricAutomation/obj/Debug/net7.0/FabricAutomation.sourcelink.json
/FabricAutomation/obj/FabricAutomation.csproj.nuget.dgspec.json
/FabricAutomation/obj/FabricAutomation.csproj.nuget.g.props
/FabricAutomation/obj/project.assets.json
/FabricAutomation/obj/project.nuget.cache
/FabricProvisioningClient/bin/Debug/net7.0/Microsoft.Fabric.Provisioning.Client.dll
/FabricProvisioningClient/bin/Debug/net7.0/Microsoft.Fabric.Provisioning.Client.exe
/FabricProvisioningClient/bin/Debug/net7.0/Microsoft.Fabric.Provisioning.Client.pdb
/FabricProvisioningClient/bin/Debug/net7.0/Microsoft.Fabric.Provisioning.Library.dll
/FabricProvisioningClient/bin/Debug/net7.0/Microsoft.Fabric.Provisioning.Library.pdb
/FabricProvisioningClient/obj/Debug/net7.0/ref/Microsoft.Fabric.Provisioning.Client.dll
/FabricProvisioningClient/obj/Debug/net7.0/refint/Microsoft.Fabric.Provisioning.Client.dll
/FabricProvisioningClient/obj/Debug/net7.0/apphost.exe
/FabricProvisioningClient/obj/Debug/net7.0/FabricProvisioningClient.AssemblyInfo.cs
/FabricProvisioningClient/obj/Debug/net7.0/FabricProvisioningClient.AssemblyInfoInputs.cache
/FabricProvisioningClient/obj/Debug/net7.0/FabricProvisioningClient.assets.cache
/FabricProvisioningClient/obj/Debug/net7.0/FabricProvisioningClient.csproj.AssemblyReference.cache
/FabricProvisioningClient/obj/Debug/net7.0/FabricProvisioningClient.csproj.CoreCompileInputs.cache
/FabricProvisioningClient/obj/Debug/net7.0/FabricProvisioningClient.csproj.FileListAbsolute.txt
/FabricProvisioningClient/obj/Debug/net7.0/FabricProvisioningClient.GeneratedMSBuildEditorConfig.editorconfig
/FabricProvisioningClient/obj/Debug/net7.0/FabricProvisioningClient.genruntimeconfig.cache
/FabricProvisioningClient/obj/Debug/net7.0/FabricProvisioningClient.sourcelink.json
/FabricProvisioningClient/obj/Debug/net7.0/Microsoft.Fabric.Provisioning.Client.dll
/FabricProvisioningClient/obj/Debug/net7.0/Microsoft.Fabric.Provisioning.Client.pdb
/FabricProvisioningClient/obj/FabricProvisioningClient.csproj.nuget.dgspec.json
/FabricProvisioningClient/obj/FabricProvisioningClient.csproj.nuget.g.props
/FabricProvisioningClient/obj/project.assets.json
/FabricProvisioningClient/obj/project.nuget.cache
/FabricProvisioningLibrary/bin/Debug/net7.0/Microsoft.Fabric.Provisioning.Library.dll
/FabricProvisioningLibrary/bin/Debug/net7.0/Microsoft.Fabric.Provisioning.Library.pdb
/FabricProvisioningLibrary/obj/FabricProvisioningLibrary.csproj.nuget.dgspec.json
/FabricProvisioningLibrary/obj/FabricProvisioningLibrary.csproj.nuget.g.props
/FabricProvisioningLibrary/obj/project.assets.json
/FabricProvisioningLibrary/obj/project.nuget.cache
/FabricProvisioningLibrary/obj/Debug/net7.0/ref/Microsoft.Fabric.Provisioning.Library.dll
/FabricProvisioningLibrary/obj/Debug/net7.0/FabricProvisioningLibrary.AssemblyInfo.cs
/FabricProvisioningLibrary/obj/Debug/net7.0/FabricProvisioningLibrary.AssemblyInfoInputs.cache
/FabricProvisioningLibrary/obj/Debug/net7.0/FabricProvisioningLibrary.assets.cache
/FabricProvisioningLibrary/obj/Debug/net7.0/FabricProvisioningLibrary.csproj.AssemblyReference.cache
/FabricProvisioningLibrary/obj/Debug/net7.0/FabricProvisioningLibrary.csproj.CoreCompileInputs.cache
/FabricProvisioningLibrary/obj/Debug/net7.0/FabricProvisioningLibrary.csproj.FileListAbsolute.txt
/FabricProvisioningLibrary/obj/Debug/net7.0/FabricProvisioningLibrary.GeneratedMSBuildEditorConfig.editorconfig
/FabricProvisioningLibrary/obj/Debug/net7.0/FabricProvisioningLibrary.sourcelink.json
/FabricProvisioningLibrary/obj/Debug/net7.0/Microsoft.Fabric.Provisioning.Library.dll
/FabricProvisioningLibrary/obj/Debug/net7.0/Microsoft.Fabric.Provisioning.Library.pdb
/FabricProvisioningLibrary/obj/Debug/net7.0/refint/Microsoft.Fabric.Provisioning.Library.dll
